html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#app {
  min-height: 100%;
}

.plato {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-compact {
  max-width: 760px;
}

.padded {
  padding: 16px;
}

.paddedX2 {
  padding: 32px 16px;
}

a {
  /* color: black; */
}

.logo {
  vertical-align: middle;
  margin-left: -30px;
  margin-right: 14px;
}

.messageForm {
  margin-bottom: 0;
}

.feather {
  vertical-align: text-bottom;
}

.account-link {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  color: #333;
  font-size: 87.5%;
}

.account-link:hover {
  color: #000;
  text-decoration: none;
}

.message-details {
  display: inline-block;
  padding: 2px 0;
}
